// Brown Bold
@font-face{
  font-family: BrownBold;
  src: url('../fonts/Brown-Bold.otf');
  font-style: normal;
}

//Cera Regular
@font-face {
  font-family: CeraRegular;
  src: url('../fonts/cera_pro_regular.otf');
  font-style: normal;
}