@import 'fonts';
$color-grey: lightgrey;
$color-white: white;
$color-icons: #9babb8;

*, *:before, *:after {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: BrownBold;
  background-color: $color-white;
}
.flex-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.main-section{

  &-head{
    display: flex;
    justify-content: space-between;
    //width: 100%;
    //border: 1px solid red;
    background-color: $color-white;
    height: 96px;
  }
  .trapezoid-header{
    flex-grow: 0;

    img{
      width: 116px;
      height: 145px;
    }
  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    margin-right: auto;
    align-self: center;
    flex-grow: 2.5;
    margin-left: -12px;
    margin-top: 13px;
  }
  .menu{
    display: flex;
    align-items: center;
    flex-grow: 1;

    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-basis: 100%;
      list-style-type: none;

      & li:last-child{
        margin-left: auto;
        margin-right: auto;
      }

      li {
        text-transform: uppercase;
        padding-right: 32px;
        line-height: 1;
        letter-spacing: 1px;

        a{
          color: #2e3847;
          text-decoration: none;
          font-size: 0.75rem;
        }
      }
      .btn-item6{
        font-size: 12px;
        font-family: BrownBold;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.698;
        border-width: 2px;
        border-color: rgb(67, 51, 134);
        border-style: solid;
        border-radius: 5px;
        width: 166px;
        height: 56px;
        padding: 16px;
        text-align: center;
        //margin-left: 63px;

        a{
          color: rgb(65, 50, 129);
        }
      }
    }
  }

  .block-1{
    height: 100vh;
    background-image: url('/img/backgrounds/Car.png');
    background-repeat: no-repeat;
    background-size: contain;
    //display: flex;
    //justify-content: flex-end;

    &-left{
      //display: flex;
      //flex-direction: column;
      //justify-content: center;
      //align-items: center;
      //position: relative;
      //top: 30%;
      //left: 3%;
      position: absolute;
      top: 43%;
      left: 10%;

      &__title img{
        position: absolute;
        z-index: 1;
        top: 5px;
      }

      &__title span{
        font-family: BrownBold;
        font-size: 44px;
        color: $color-white;
        text-transform: uppercase;
        z-index: 999;
        position: relative;
        bottom: 3px;
        left: 9%;
      }
    }

    &-btns{
      padding: 15px 0;

      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
      }

      &__btn1{
        font-size: 12px;
        font-family: BrownBold;
        color: rgb(65, 50, 129);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.698;
        letter-spacing: 2px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        width: 168px;
        height: 52px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

          a{
            text-decoration: none;
            color: #413281;

            .fa-1-bigger{
              font-size: 18px;
            }
          }
      }
      &__btn2{
          font-size: 12px;
          font-family: BrownBold;
          color: rgb(255, 255, 255);
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.698;
          letter-spacing: 2px;
          border-width: 2px;
          border-color: rgb(255, 255, 255);
          border-style: solid;
          border-radius: 6px;
          width: 168px;
          height: 52px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 25px;

          a{
            text-decoration: none;
            color: $color-white;

            .fa-1-bigger{
              font-size: 18px;
            }
          }
      }
      &__btn3{
        font-size: 12px;
        font-family: BrownBold;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.698;
        letter-spacing: 2px;
        border-width: 2px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        border-radius: 6px;
        width: 168px;
        height: 52px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

          a{
            text-decoration: none;
            color: $color-white;

            .fa-1-bigger{
              font-size: 18px;
            }
          }
      }
    }


    &-right{
      //display: flex;
      //flex-direction: column;

    }
    &-man{
      position: absolute;
      right: 0;
      margin-top: -10px;

      img{
        height: 555px;
      }
    }
    &-timer{
      background-image: url('/img/form_title_block_blu.png');
      background-repeat: no-repeat;
      position: absolute;
      //bottom: 73px;
      top: 43%;
      left: 50.5%;
      right: 0;
      height: 208px;
      padding-top: 30.5px;
      margin-left: 57px;

      &__title{
        display: flex;
        justify-content: center;
        margin-left: 210px;
        margin-bottom: 20px;
      }
      &__title span{
        font-family: BrownBold;
        font-size: 1.5rem;
        color: $color-white;
        text-transform: uppercase;
      }

      &__numbers{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .days span:first-child,
        .hours span:first-child,
        .minutes span:first-child,
        .seconds span:first-child{
          font-family: BrownBold;
          font-size: 11.1px;
          text-transform: uppercase;
          color: #ffffff;
          text-align: center;
        }
        .days{
          display: grid;
          color: #ffffff;
          margin-left: 25px;
          margin-right: 40px;

          & span{
            font-size: 48px;
          }
        }
        .hours{
          display: grid;
          color: #d4eaf5;
          margin-right: 40px;

          & span{
            font-size: 48px;
          }
        }
        .minutes{
          display: grid;
          color: #a9d6eb;
          margin-right: 40px;

          & span{
            font-size: 48px;
          }
        }
        .seconds{
          display: grid;
          color: #7fc1e0;
          margin-right: 15px;

          & span{
            font-size: 48px;
          }
        }
      }
    }
  }
}

/* ========== Slider Section ========== */
.slider-section{
  //margin-top: 47px;
  //background-image: url('/img/backgrounds/Image_and_bg.png');
  //background-repeat: no-repeat;
  //height: 330px;
  display: flex;
  justify-content: space-between;

  #testimonialSlider{
    display: flex;
    justify-content: center;
    //margin: 70px 0 0 130px;

    .testimonialSlider-quotes{
      margin-right: 50px;

      img{

      }
    }
    #testimonial{
      display: flex;
      position: absolute;
      align-self: center;
      left: 17%;

      #testimonialText{
        overflow:hidden;
        position:relative;
        width:100%;
        height:205px;
        color: #fff;

        .image_news p{
          font-family: CeraRegular;
          font-size: 14px;
          line-height: 1.5;
          margin: 0;
          width: 500px;
        }
        .client{
          display: flex;
          margin: 50px auto;
          width: auto;
          font-family: CeraRegular;
          font-size: 14px;

          .client-photo{

            & img{
              width: 65px;
            }
          }
          .client-bio{
            margin: 0 40px;
            line-height: 1.7;

            .client-name{
              font-family: CeraRegular;
              font-size: 14px;
              color: #ffffff;
            }
            .client-position,
            .client-company{
              font-family: CeraRegular;
              font-size: 14px;
              color: #8b8c9a;
            }
          }
        }
        #testimonialText .image_news {
          display:none;
          position:absolute;
          width:100%;
        }
      }

    }
    #testimonialNav{
      display: flex;
      align-self: flex-end;
      position: absolute;
      right: 58px;

      #testimonialNavPrevious{
        background-image: url('/img/backgrounds/slider_prev.png');
        background-repeat: no-repeat;
        height: 48px;
        width: 129px;
        cursor: pointer;
        z-index: 999;

        img{
          position: absolute;
          top: 50%;
          left: 21.5%;
          transform: translate(-50%, -50%);
        }
      }
      #counter{
        margin-top: 15px;
        font-size: 12px;
        font-family: BrownBold;

        #current{
          color: $color-white;
        }
        #total{
          color: #808190;
        }
      }
      #testimonialNavNext{
        background-image: url('/img/backgrounds/slider_next.png');
        background-repeat: no-repeat;
        height: 48px;
        width: 129px;
        cursor: pointer;
        z-index: 999;

        img{
          position: absolute;
          top: 50%;
          right: 16.5%;
          transform: translate(-50%, -50%);
        }
      }
    }

  }
  .grey-triangle{
    position: absolute;
    right: 0;
  }
}

/* ========== Timeline Section ========== */
.timeline-section{
  position: relative;

  &-title{
    position: relative;

    &__back{
      font-family: BrownBold;
      font-size: 144px;
      text-transform: uppercase;
      opacity: 0.1;
      margin-bottom: 0;
      text-align: center;
      line-height: 1.6;
      letter-spacing: 5px;
      display: block;
    }

    &__above{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      & img{
        position: absolute;
        left: 19%;
        top: 54%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }

      & p{
        font-family: BrownBold;
        font-size: 32px;
        opacity: 1;
        text-transform: uppercase;
        text-align: center;
        padding-top: 50px;
        line-height: 1.3;
      }
    }
  }

  &-line{
    position: relative;

    &__block{
      position: relative;
      width: 100%;

      &--text{
        display: flex;
        flex-direction: column;
      }
      &--text ul{
        font-family: CeraRegular;
        font-size: 0.875rem;
        color: #667185;
        position: absolute;
        top: 20px;
        left: 17%;
        width: 31%;
      }
      .current-text-list{
        color: #000;
      }
      .future-text-list{
        font-family: CeraRegular;
        font-size: 14px;
        color: #2e3847;
      }
    }
  }
  &-line:before{
    content: '';
    position: absolute;
    top: 33px;
    left: 49.88%;
    height: 80px;
    width: 2px;
    background: #d4eaf5;
  }
  .timeline-year-s118{
    font-family: BrownBold;
    font-size: 1rem;
    color: #667185;
    position: absolute;
    top: -15px;
    left: 18%;
    letter-spacing: 2px;
  }
  .timeline-year-s218{
    font-family: BrownBold;
    font-size: 1rem;
    color: #2998cc;
    position: absolute;
    top: -15px;
    left: 18%;
    letter-spacing: 2px;
  }

  .timeline-year{
    font-family: BrownBold;
    font-size: 1rem;
    color: #667185;
    position: absolute;
    top: -22px;
    left: 18%;
    letter-spacing: 2px;
  }
  .timeline-year-final{
    font-size: 24px;
    margin: 5px auto;
  }
  .timeline-vertical:after{
    content: "";
    height: 2px;
    position: absolute;
    left: 23%;
    z-index: -1;
    background: #dde3eb;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    margin-left: 35px;
    min-width: 23%;
  }
  .timeline-vertical-left:before{
    content: "";
    height: 2px;
    position: absolute;
    left: 3%;
    z-index: -1;
    background: #dde3eb;
    transform: translateY(-50%);
    margin-top: 7px;
    min-width: 10%;
  }
  .timeline-vertical-left.current:before{
    content: "";
    height: 2px;
    position: absolute;
    left: 3%;
    z-index: -1;
    background: #dde3eb;
    transform: translateY(-50%);
    margin-top: 14px;
    min-width: 10%;
  }
  .pale-blue-line{
    position: relative;

    &__icon{
      display: flex;
      justify-content: center;
    }
    ul li{
      color: #000;
    }
  }
  .blue-line{
    position: relative;

    &__icon{
      display: flex;
      justify-content: center;
      margin-top: 95px;
    }
  }
  .blue-line:before{
    content: '';
    position: absolute;
    top: 38px;
    left: 49.88%;
    height: 65px;
    width: 2px;
    background: #2998cc;
  }
  .right-side{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 3px;

    ul{
      left:16%;
      width: 61%;
    }
  }
  
  .dashed-line{
    position: relative;

    &__icon{
      display: flex;
      justify-content: center;
      margin-top: 77px;
    }
  }
  .dashed-line:before{
    content: '';
    position: absolute;
    top: 25px;
    left: 49.88%;
    height: 55px;
    width: 2px;
    border-left: 4px dashed #dde3eb;
  }
  .dashed-line-s119{
    position: relative;

    &__icon{
      display: flex;
      justify-content: center;
      margin-top: 71px;
    }
  }
  .dashed-line-s119:before{
    content: '';
    position: absolute;
    top: 25px;
    left: 49.88%;
    height: 90px;
    width: 4px;
    //background: #dde3eb;
    border-left: 4px dashed #dde3eb;
  }
  .dashed-line-s219{
     position: relative;

     &__icon{
       display: flex;
       justify-content: center;
       margin-top: 103px;
     }
   }
  .dashed-line-s219:before{
    content: '';
    position: absolute;
    top: 25px;
    left: 49.88%;
    height: 70px;
    width: 4px;
    //background: #dde3eb;
    border-left: 4px dashed #dde3eb;
  }
  .dashed-line-s319{
     position: relative;

     &__icon{
       display: flex;
       justify-content: center;
       margin-top: 85px;
     }
   }
  .dashed-line-s319:before{
    content: '';
    position: absolute;
    top: 25px;
    left: 49.88%;
    height: 90px;
    width: 4px;
    //background: #dde3eb;
    border-left: 4px dashed #dde3eb;
  }
  .dashed-line-s419{
     position: relative;

     &__icon{
       display: flex;
       justify-content: center;
       margin-top: 104px;
     }
   }
  .dashed-line-s419:before{
    content: '';
    position: absolute;
    top: 25px;
    left: 49.88%;
    height: 90px;
    width: 4px;
    //background: #dde3eb;
    border-left: 4px dashed #dde3eb;
  }
  .dashed-line-s20__icon{
    display: flex;
    justify-content: center;
    margin-top: 106px;
  }
  .future-year{
    text-align: center;

    &-block{
      display: flex;
      margin: 0 auto;
      width: 375px;
    }
  }
}

/* ========== Footer ========== */
footer{
  //position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

   .first-row{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    color: #636e83;
    font-family: CeraRegular;
    height: 96px;

    .footer-icons{
      display: flex;
      align-items: center;

      &-logo{
        margin-right: auto;
      }
      &-social{
        margin-right: auto;
        margin-left: -45px;
      }
    }
    .fab{
      color: $color-icons;
      padding-right: 25px;
    }
  }
  .second-row{
    display: flex;
    align-items: center;
    background-color: #f7f8fa;
    color: #636e83;
    font-family: CeraRegular;
    height: 96px;

    .footer-menu {
      display: flex;
      //flex-basis: 100%;

      ul {
        display: flex;
        list-style-type: none;
        flex-basis: 100%;
        padding: 0;

        li:last-child{
          margin-left: auto;
        }
        li{
          padding-right: 30px;
        }
      }
    }
  }
}

/* ========== Media Query ========== */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .main-section .block-1-left {
    top: 33%;
    left: 5%;
  }
  .main-section .block-1-left__title span {
    font-size: 39px;
  }
  .main-section .block-1-man img {
    height: 460px;
  }
  .main-section .block-1-timer {
    margin-left: 5px;
  }
  .guitar{
    width: 100%;
    object-fit: cover;
  }
  .slider-section #testimonialSlider #testimonial {
    left: 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1366px){
  .main-section .block-1-timer{
    top: 58%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .flex-container{
    width: 1200px !important;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1440px) {
  .main-section .block-1-man img {
    height: 643px;
  }
  .main-section .block-1-timer {
    background-image: url('/img/form_title_block_blu.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 51.8%;
    left: 49.5%;
    right: 0;
    height: 208px;
    padding-top: 30.5px;
    margin-left: 57px;
    background-size: cover;
  }
  .slider-section #testimonialSlider #testimonialNav {
    right: 8.7%;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px){
  .flex-container{
    width: 1720px !important;
  }
  .main-section .block-1-man img {
    height: 852px;
  }
  .main-section .block-1-timer {
    top: 61%;
    left: 45.5%;
    background-size: cover;
  }
  .slider-section{
    #testimonialSlider {
      flex-basis: 100%;

      .guitar{
        width: 100%;
        object-fit: cover;
      }
      #testimonialNav {
        right: 4.7%;
      }
    }
  }
}
@media screen and (min-width: 1921px) and (max-width:2560px){
  .flex-container{
    width: 2200px !important;
  }
  .main-section .block-1{
    background-size: cover;
  }
  .main-section .block-1-man img {
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
  }
  .main-section .block-1-timer {
    background-size: cover;
    position: absolute;
    left: 46%;
    height: 208px;
    padding-top: 30.5px;
    top: 81%;
  }
  .slider-section{
    margin-top: 47px;

    #testimonialSlider {
      flex-basis: 100%;

      .guitar{
        width: 100%;
        object-fit: cover;
      }
      #testimonialNav {
        right: 7%;
      }
    }
  }
  .timeline-section-title__above{
    margin-top: 10px;

    & img {
      left: 6%;
    }
    & p{
      padding-top: 5px;
    }
  }
}